{% extends 'core/PlantillaLogin.html' %}
{% load static %}

{% block a %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/marcas.css' %}">
{% endblock a %}

{% block content %}
      <div class="container">
        <div class="img4">
          <img src="{% static 'core/img/LOGO/Chevrolet-logo.png' %}" alt="" >
        </div>
      </div>
    
      <!-- agregar un margin para que no se pege a las cartas--> 
    
      <div class="container">
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/ChevroletCamaro/camaro-seminuevo.png' %}" alt="Camaro" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Camaro</h3>
              <p>El nuevo Camaro fue rediseñado de principio a fin. Su línea ha evolucionado para verse aún mas estilizada..</p>
              <a href="http://127.0.0.2:5500/chevrolet%20camaro%202020.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/ChevroletSedan/onix-seminuevo.png' %}" alt="Onix" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Onix Sedán</h3>
              <p>El Onix Sedán viene con una serie de características que lo consolidan como el más innovador de su clase.</p>
              <a href="http://127.0.0.2:5500/chevrolet%20onix%20sedan%202021.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/ChevroletSail/sail-marca.png' %}" alt="Sail" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Sail</h3>
              <p>Cuando combinas diseño, tecnología, confort y seguridad en un mismo auto...</p>
              <a href="http://127.0.0.2:5500/chevrolet%20sail%202022.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
      </div>
{% endblock content %}