{% extends 'core/PlantillaLogin.html' %}
{% load static %}

{% block a %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/marcas.css' %}">
{% endblock a %}

{% block content %}
      <div class="container">
        <div class="img4">
          <img src="{% static 'core/img/LOGO/Ford-logo.png' %}" alt="">
        </div>
      </div>
    <!-- agregar un margin para que no se pege a las cartas-->  
    
      <div class="container">
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/FordFocus/focus-marca.png' %}" alt="Focus" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Focus</h3>
              <p>Focus es un automóvil pensado para quienes buscan un vehículo compacto...</p>
              <a href="http://127.0.0.2:5500/ford%20focus%202021.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/FordRaptor/raptor-seminuevo.png' %}" alt="Raptor" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Raptor</h3>
              <p>Destaca por su nueva transmisión automática de 10 marchas con modo de cambio manual y por el nuevo Terrain Management System...</p>
              <a href="http://127.0.0.2:5500/ford%20raptor%202018.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/FordTerritory/Territory-seminuevo.png' %}" alt="Territory" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>All-New Territory</h3>
              <p>Diseñada para maximizar el confort y espacio interior para disfrutar cualquier viaje...</p>
              <a href="http://127.0.0.2:5500/ford%20All%20New%20territory%202021.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
      </div>
{% endblock content %}