{% extends 'core/plantillaAdmin.html' %}
{% block lugar %}
<a class="navbar-brand" href="#"> Vehiculo</a>
{% endblock lugar %}
{% block relleno %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{message}}</strong> 
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestion Vehiculos</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registrarAutos' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="idAuto" name="idAuto" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="nombre" name="nombre" class="form-control"
                            placeholder="Nombre Vehiculo" required>
                    </div>
                    <div class="form-group">
                        <input type="file" id="banner" name="banner" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="file" id="img1" name="img1" class="form-control" >
                    </div>

                    <div class="form-group">
                        <input type="text" id="text1" name="text1" class="form-control" placeholder="Especificacion 1" >
                    </div>

                    <div class="form-group">
                        <input type="file" id="img2" name="img2" class="form-control" >
                    </div>

                    <div class="form-group">
                        <input type="text" id="text2" name="text2" class="form-control" placeholder="Especificacion 2" >
                    </div>

                    <div class="form-group">
                        <input type="file" id="img3" name="img3" class="form-control" >
                    </div>

                    <div class="form-group">
                        <input type="text" id="text3" name="text3" class="form-control" placeholder="Especificacion 3" >
                    </div>

                    <div class="form-group">
                        <input type="file" id="img4" name="img4" class="form-control" >
                    </div>

                    <div class="form-group">
                        <input type="text" id="text4" name="text4" class="form-control" placeholder="Especificacion 4" >
                    </div>

                    <div class="form-group">
                        <input type="number" id="precio" name="precio" class="form-control" placeholder="Precio" >
                    </div>

                    <div class="form-group">
                        <input type="file" id="foto" name="foto" class="form-control" placeholder="Precio" >
                    </div>

                    <div class="form-group">
                        <input type="file" id="galeria1" name="galeria1" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="file" id="galeria2" name="galeria2" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="file" id="galeria3" name="galeria3" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="file" id="galeria4" name="galeria4" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="file" id="galeria5" name="galeria5" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="file" id="galeria6" name="galeria6" class="form-control" >
                    </div>
                    
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="datoA" name="datoA" placeholder="Descripcion1"></textarea>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="datoB" name="datoB" placeholder="Descripcion2"></textarea>
                    </div>
                
                    <div class="form-group">
                        <input type="text" id="video" name="video" class="form-control" required="Url Video" placeholder="URL video">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Vehiculos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Foto</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in autos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.idAuto}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.precio}}</td>
                        <td>
                            {% if c.foto %}
                            <img src="{{ c.foto.url }}" alt="nnnn" style="width: 150px;height: 150px;">
                            {% else %}
                            <p>No tiene foto</p>
                            {% endif %}
                        </td>
                        <td><a href="editarAuto/{{c.idAuto}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarAuto/{{c.idAuto}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock relleno %}