{% extends 'core/PlantillaLogin.html' %}
{% load static %}

{% block a %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/marcas.css' %}">
{% endblock a %}

{% block content %}
      <div class="container">
        <div class="img4">
          <img src="{% static 'core/img/LOGO/Hyundai-logo.png' %}" alt="" >
        </div>
      </div>
    
    
      <div class="container">
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/HyundaiAccent/accent-marca.png' %}" alt="Accent" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Accent</h3>
              <p>El nuevo Accent logra un equilibrio perfecto entre estilo elegante y practicidad.</p>
              <a href="http://127.0.0.2:5500/hyundai%20accent%202022.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/HyundaiTucson/Tucson-marca.png' %}" alt="Onix" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Tucson</h3>
              <p>El nuevo TUCSON marca el comienzo de un nuevo día y una nueva forma de conducir.</p>
              <a href="http://127.0.0.2:5500/hyundai%20tucson%202022.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/HyundaiVeloster/veloster-marca.png' %}" alt="Sail" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Veloster</h3>
              <p>Veloster N es el modelo de alto rendimiento que se desarrolla sobre la base de la experiencia y la tecnología obtenida de los deportes motorizados</p>
              <a href="http://127.0.0.2:5500/hyundai%20veloster%202021.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
      </div>
{% endblock content %}