{% extends 'core/PlantillaLogin.html' %}
{% load static %}

{% block a %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/marcas.css' %}">
{% endblock a %}
    

{% block content %}
      <div class="container">
        <div class="img4">
          <img src="{% static 'core/img/LOGO/Jeep-logo.jng' %}" alt=""  >
        </div>
      </div>
    
    <!-- agregar un margin para que no se pege a las cartas--> 
    
      <div class="container">
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/JeepCherokee/cheroke-seminuevo.png' %}" alt="Camaro" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Cherokee</h3>
              <p>Todo terreno, para toda la familia</p>
              <a href="http://127.0.0.2:5500/jeep%20cherokee%202020.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/JeepGladiator/gladiator-marca.png' %}" alt="Onix" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Jeep Gladiator Rubicon</h3>
              <p>Jeep Gladiator, totalmente nuevo, diseñado de punta a punta para ser una verdadera camioneta.</p>
              <a href="http://127.0.0.2:5500/jeep%20gladiator%20Rubicon%202022.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
        <div class="container1">
        <div class="body">
          <div class="card">
            <figure>
              <img src="{% static 'core/img/JeepWrangler/wrangler-nuevo.png' %}" alt="Wrandler" class="img-fluid">
            </figure>
            <div class="contenido">
              <h3>Jeep Wrandler Unlimited Rubricon</h3>
              <p>La tracción es como se transmite la potencia a las 4 ruedas, y con Wrangler Rubicon podrás manejar las condiciones más impredecibles del camino.</p>
              <a href="http://127.0.0.2:5500/jeep%20wrangler%20Unlimited%20Rubricon%202021.html"> Ver más</a>
            </div>
          </div>
        </div>
        </div>
      </div>
{% endblock content %}
