{% extends 'core/PlantillaLogin.html' %}
{% load static %}

{% block a %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/variables.css' %}">
{% endblock a %}

  
{% block content %}
<div class="container-fluid">
    <h2 class="texto"> MARCAS DISPONIBLES</h2>
</div>

<div class="row">
  <div class="col">
    <div class="card" style="width: 15rem;">
      <a href="http://127.0.0.1:8000/CHEVROLET/"><img src="{% static 'core/img/LOGO/Chevrolet-logo.png' %}" class="img-logoss"   alt="..."></a>
      <div class="card-body">
        <p class="card-title"> <strong> CHEVROLET </strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <a href="http://127.0.0.1:8000/FORD/"><img src="{% static 'core/img/LOGO/Ford-logo.png' %}" class="img-logoss"   alt="..."></a>
      <div class="card-body">
        <p class="card-title"> <strong> FORD </strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <a href="http://127.0.0.1:8000/HYUNDAI/"><img src="{% static 'core/img/LOGO/Hyundai-logo.png' %}" class="img-logoss"   alt="..."></a>
      <div class="card-body">
        <p class="card-title"> <strong> HYUNDAI </strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem;">
      <a href="http://127.0.0.1:8000/JEEP/"><img src="{% static 'core/img/LOGO/Jeep-logo.jpg' %}" class="img-logoss"   alt="..."></a>
      <div class="card-body">
        <p class="card-title"> <strong> JEEP </strong></p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- footer -->
<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="http://127.0.0.1:8000">
          <img src="{% static 'core/img/LOGO/Logocompania.png' %}" alt="LOGO" class="img-fluid">
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p> -Autos Nuevos y Usados</p>
      <p> -Atencion Al Cliente</p>
      <p> -Contactanos: <br> +56966263113</p>
    </div>
      
    <div class="box">
      <h2>Nuestras redes sociales:</h2>
      <div class="red-social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/bnja.cth/" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>

      <div class="box">
        <h2>Donde encontrarnos:</h2>
        <div class="ubicacion-local">
          <a href="http://127.0.0.1:8000/mapa/" class="fa-solid fa-location-dot"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="grupo-2">
    <small>&copy; 2022 <b>Autos Naves</b> - Todos los derechos reservados</small>

  </div>
</footer>


</body>
</html>